body {
    padding: 25px;
    background-color: grey;
    color: white;
    font-size: 25px;
    font-family: Arial;
}

.dark-mode {
    background-color: white;
    color: black;
}

img {
  border-radius: 50%;
}
