body {
  background-color: grey;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}
h1 {
 font-family: Arial;
 }
p {
  font-family: Arial;
  }
div {
  font-family: Arial; 
}

function myFunction()
  var element = document.body;
  element.classList.toggle("light-mode");
} 

