body {
  background-color: grey;
  color: white;
}
h1 {
 font-family: Arial;
 }
p {
  font-family: Arial;
  }
div {
  font-family: Arial; 
}

.switch
function myFunction() {
  var element = document.body;
  element.classList.toggle("dark-mode");
} 

.light-mode {
  background-color: white;
  color: black;
}
